<table class="table table-sm">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
                {% for letter in s2 %}
                    <th>{{ letter }}</th>
                {% endfor %}
        </tr>
        <tr>
            <th></th>
            <th></th>
                {% for col in matrix[0] %}
                    <th>{{ col[0] }}</th>
                {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in matrix %}
            <tr>
                {% if row[0][0] == 0 %}
                    <th> </th>
                {% else %}
                    <th>{{ s1[row[0][0] - 1] }}</th>
                {% endif %}
                <th>{{ row[0][0] }}</th>
                    {% for col in row %}
                        <td>{{ col[0] }}</td>
                    {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
